
IdealAutomateExplorer/.vs/IdealAutomateExplorer/v14/.suo
IdealAutomateExplorer/IdealAutomateExplorer/bin/Debug/IdealAutomateExplorer.exe
IdealAutomateExplorer/IdealAutomateExplorer/bin/Debug/IdealAutomateExplorer.pdb
IdealAutomateExplorer/IdealAutomateExplorer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
IdealAutomateExplorer/IdealAutomateExplorer/obj/Debug/IdealAutomateExplorer.exe
IdealAutomateExplorer/IdealAutomateExplorer/obj/Debug/IdealAutomateExplorer.pdb
